.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box; /* чтобы padding не увеличивал ширину элемента */
  font-size: 1em;
}

.form-button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1em;
}

.form-button:hover {
  background-color: #45a049;
}

.account-list {
    display: flex;
    flex-wrap: wrap;
}

.account-card {
    width: calc(25% - 34px); /* 4 карточки в ряд с отступами */
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container-with-padding {
    padding: 16px;
    margin: 16px;
}
.add-account {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #f8f9fa;
}
.delete-account-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: red;
    font-size: 16px;
    cursor: pointer;
}

.add-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.add-button:hover {
    background-color: #0056b3;
}

.modal-content {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
    width: 300px;
    text-align: center;
}

.modal-content p {
    margin-bottom: 20px;
}

.modal-content button {
    margin: 0 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.transaction-card {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px 0;
    padding: 5px 30px 5px 30px;
    background-color: #f9f9f9;
}

.transaction-grid {
    display: grid;
    grid-template-areas:
        "subcategory amount"
        "comment date";
    grid-gap: 10px;
    padding: 10px;
}

.transaction-subcategory {
    grid-area: subcategory;
    font-weight: bold;
}

.transaction-comment {
    grid-area: comment;
    font-style: italic;
}

.transaction-amount {
    grid-area: amount;
    text-align: right;
    font-weight: bold;
}

.transaction-date {
    grid-area: date;
    text-align: right;
    font-style: italic;
}
.add-transaction {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.edit-account-button, .delete-account-button {
    background: none;
    border: none;
    cursor: pointer;
}

.edit-account-button {
    position: absolute;
    top: 5px;
    left: 5px;
    color: yellow;
    font-size: 16px;
}
.edit-transaction-button {
    position: absolute;
    top: 8px;
    left: 8px;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: yellow;
}
.delete-transaction-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: red;
    font-size: 16px;
    cursor: pointer;
}

.confirm-delete-button {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    background-color: red;
    color: white;
    cursor: pointer;
    margin-right: 10px;
}

.cancel-delete-button {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    background-color: grey;
    color: white;
    cursor: pointer;
}

.confirm-delete-button:hover {
    background-color: darkred;
}

.cancel-delete-button:hover {
    background-color: darkgrey;
}
.center-text {
    text-align: center;
    margin-bottom: 0;
}

