.date-range-modal {
    text-align: center;
}

.date-range-modal h2 {
    margin-bottom: 20px;
}

.date-range-modal label {
    display: block;
    margin-bottom: 10px;
}

.date-range-modal input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
}