.chart-container {
    position: relative;
    width: 50%;
    margin: 0 auto; /* Center the container */
    margin-top: 0;

}
.horizontal-container {
    display: flex;
    align-items: flex-start; /* Align items at the top */
    justify-content: space-between; /* Space between the elements */

}