/* PeriodChoose.css */
.period-choose {
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: relative;
    width: 20%;
    margin: auto;
}

.period-button {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px; /* Rounded corners */
    padding: 15px;
    margin: 5px 0;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.period-button:hover {
    background-color: #f0f0f0;
}

.period-button.active {
    background-color: #007bff; /* Blue color for active button */
    color: white;
    border-color: #007bff; /* Match border color with active background */
}
