/* TransactionList.css */
.pagination {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.pagination li {
    margin: 0 5px;
}

.pagination a {
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid #ddd;
    color: #007bff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.pagination a:hover {
    background-color: #ddd;
}

.pagination .active a {
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
}

.pagination .break-me a {
    border: none;
    background: none;
    color: #666;
    cursor: default;
}
