.transaction-form {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    max-width: 400px;
    margin: 0 auto;
}

.transaction-form h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.transaction-type-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.transaction-type-buttons button {
    padding: 10px 20px;
    border: 1px solid #ddd;
    background-color: #d3d3d3;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    flex: 1;
    margin: 0 5px;
    transition: background-color 0.3s, color 0.3s;
    color: black;
}

.transaction-type-buttons button.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

.transaction-form form {
    display: flex;
    flex-direction: column;
}

.transaction-form label {
    margin-bottom: 15px;
    font-weight: bold;
}

.transaction-form input,
.transaction-form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
    font-size: 16px;
}

.transaction-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.transaction-form button[type="submit"] {
    background-color: #007bff;
    color: white;
}

.transaction-form button[type="submit"]:hover {
    background-color: #0056b3;
}

.transaction-form button[type="button"] {
    background-color: #6c757d;
    color: white;
}

.transaction-form button[type="button"]:hover {
    background-color: #5a6268;
}
.transaction-form-row {
    display: flex;
    justify-content: space-between;
}
.transaction-form-column {
    display: flex;
    flex-direction: column;
}
.transaction-amount.transfer {
    color: #9c9c38;
}

.transaction-amount.expense {
    color: red;
}

.transaction-amount.income {
    color: green;
}