.vertical-menu {
  width: 200px;
  position: fixed;
  top: 0;
  left: -200px; /* Initially hidden */
  height: 100%;
  background-color: #f8f9fa;
  padding-top: 60px; /* Adjust if you have a fixed header */
  transition: left 0.3s; /* Smooth transition for hover effect */
  z-index: 1000; /* Ensure the menu is on top */
}

.vertical-menu.open {
  left: 0;
}

.menu-item {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.menu-item:hover {
  background-color: #ddd;
}

.active {
  background-color: #007bff;
  color: white;
}

.menu-toggle {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 4px;
  z-index: 1001;
}

.menu-toggle:hover {
  background-color: #0056b3;
}
